body {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    /*background-image: url("adriandanlos.github.io/images/background.jpg");*/
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Montserrat, arial;
}
#container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}
#top-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
}
#top-container img {
    max-width: 100%;
    margin-bottom: 10vh;
}
#key-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}
.drumKey {
    padding: 30px;
    border: 1px solid #2d5b3c;
    color: #2d5b3c;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    flex: 0 1 50px;
    margin: 0 5px;
    /*min margin distance when shrink comes into play*/
    text-align: center;
    font-size: 35px;
    outline: none;
}
p {
    margin: 0;
    user-select: none;
    -moz-user-select: none;
}
#bottom-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
}
#power {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(40, 84, 45);
    outline: none;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    margin: 10vh 0;
}
#volume {
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
    /*visibility: hidden;*/
}
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
/*chrome and safari need the first 2 prop*/

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    border: none;
}
/*mozilla*/

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    border: none;
}