body {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    /*background-image: url("adriandanlos.github.io/images/background.jpg");*/
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Montserrat, arial;
}
#container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.drumKey {
    padding: 30px;
    border: 1px solid #2d5b3c;
    color: #2d5b3c;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    flex: 0 1 50px;
    margin: 0 5px;
    /*min distance when shrink comes into play*/
    text-align: center;
    font-size: 35px;
    outline: none;
}
p {
    margin: 0;
    user-select: none;
    -moz-user-select: none;
}
#power {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30vh;
    width: 160px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(40, 84, 45);
    outline: none;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}