body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-image: url("img/aot.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Roboto, arial;
    color: white;
    font-size: 80px;
    font-weight: 100;
    overflow: hidden;
}
main {
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
}
h1, p {
    margin: 0;
}
h1 {
    align-self: center;
    font-size: 80px;
    font-weight: 100;
    padding: 20px;
    background: radial-gradient(black, transparent);
}
#timer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(50, 50, 25, 0.4);
    padding: 10px 0;
    /*box-shadow: 1px 3px 10px 1px white;*/
}
.text {
    font-size: 40px;
}
.dots, .number {
    font-size: 120px;
}
.column {
    text-align: center;
    margin: 0 25px;
}
#rocket {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    visibility: hidden;
}
#rocket img {
    width: 100%;
}